.coupon-item {
  margin: 15px 0;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  height: 190rpx;
  background: #fff;
}
.coupon-item .left {
  float: left;
  color: #fff;
  text-align: center;
  border-left: 1px dashed #fff;
  /* padding: 40rpx 0; */
  box-sizing: border-box;
  padding-top: 40rpx;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f45c43),
    to(#f81a1a)
  );
  background: -o-linear-gradient(to left, #f45c43, #f81a1a);
  background: linear-gradient(to left, #f45c43, #f81a1a);
  background: -webkit-linear-gradient(to left, #f45c43, #f81a1a);
  width: 260rpx;
}
.coupon-item .left .num {
  font-weight: normal;
  font-size: 48rpx;
  height: 70rpx;
  line-height: 70rpx;
  font-family: arial;
}
.coupon-item .left .num .coupon-price {
  font-size: 70rpx;
  line-height: 1em;
  /* display: inline-block; */
  font-family: arial;
  font-weight: normal;
}
.coupon-item .left .num .coupon-price .small {
  font-size: 28rpx;
}
.coupon-item .left .coupon-condition {
  font-size: 24rpx;
  line-height: 48rpx;
  padding: 0 2px;
  display: block;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.coupon-item .right {
  margin-left: 270rpx;
  padding: 20rpx 10rpx;
  height: 200rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coupon-item .right .c-des {
  font-size: 24rpx;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #010101;
}
.coupon-item .right .c-des .c-type {
  font-size: 24rpx;
  background: #fdf0f0;
  color: #c53032;
  border-radius: 8px;
  padding: 3px 10px;
  margin-right: 6rpx;
}
.coupon-item .right .c-desc {
  font-size: 24rpx;
  color: #aaaaaa;
  font-weight: normal;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.coupon-item .right .c-date {
  font-size: 24rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coupon-item .right .c-date .c-data-info {
  margin-top: 68rpx;
  font-family: D-DIN, D-DIN;
  font-weight: 400;
  font-size: 20rpx;
  color: #3d3d3d;
  /* line-height: 48rpx; */
  letter-spacing: 1px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.coupon-item .right .c-date .c-btn {
  display: inline-block;
  color: #fff;
  font-size: 24rpx;
  font-family: arial;
  border-radius: 14px;
  padding: 3px 7px;
  background-color: #f81a1a;
  border: 1px solid #f81a1a;
}

.coupon-item .right .c-date .c-btn.get-btn {
  background: #fff;
  border: 1px solid #f81a1a;
  color: #f81a1a;
}

.coupon-item .right .c-date .no-use-btn {
  color: #fff;
  font-size: 24rpx;
  font-family: arial;
  border-radius: 14px;
  padding: 3px 7px;
  background: #bbbbbb;
  border: 1px solid #bbbbbb;
}

.coupon-item.gray .left {
  background: #bbb;
}

.coupon-item.gray .right .c-des .c-type {
  background: #bbb;
  color: #fff;
}

.coupon-item.gray .right .c-date .c-btn {
  display: none;
}

.coupon-item .tag-img {
  position: absolute;
  top: 50%;
  right: 0;
  width: 120rpx;
  height: 120rpx;
  transform: translateY(-50%);
}

.coupon-item .sel-btn {
  position: absolute;
  right: 10px;
  top: 35px;
}
.rule {
  font-size: 20rpx;
  color: #aaaaaa;
  margin-top: 10rpx;
  font-weight: 300;
}
