.gift-write-off {
  background: #f6f6f6;
  min-height: 100%;
  box-sizing: border-box;
}
.container {
  padding: 30rpx 20rpx;
  box-sizing: border-box;
}
.item {
  box-sizing: border-box;
  background: #ffffff;
  padding: 30rpx;
  margin-top: 20rpx;
  border-radius: 20rpx;
  box-shadow: 4rpx 4rpx 12rpx 4rpx rgba(183, 208, 255, 0.8);
  box-sizing: border-box;
}
.item:nth-child(1) {
  margin-top: 0;
}
.item .date {
  font-weight: 400;
  font-size: 28rpx;
  color: #101010;
  line-height: 48rpx;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.item .item-cen {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item .item-cen .img {
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
}

.item .item-cen .img image {
  width: 70rpx;
  height: 70rpx;
  margin-top: 25rpx;
  margin-left: 25rpx;
}
.item .item-cen .right-con {
  margin-left: 54rpx;
  font-size: 28rpx;
  color: #333;
}
.room-name {
  font-weight: 400;
  font-size: 38rpx;
  color: #101010;
  line-height: 48rpx;
  text-align: left;
}
.item .item-cen .right-con .watch-time {
  font-weight: 400;
  font-size: 28rpx;
  color: #979797;
  line-height: 48rpx;
  text-align: left;
}
.item .item-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rpx;
}
.item .item-btn .btn {
  font-size: 24rpx;
  font-weight: 400;
  padding: 5rpx 20rpx;
  border-radius: 20rpx;
  border: 1rpx solid #f1f1f1;
}
