page {
  background: #f4f4f4;
}
.empty {
  width: 100%;
  font-size: 32rpx;
  color: #707070;
  margin: auto;
  text-align: center;
  line-height: 200rpx;
}
.total {
  padding: 30rpx;
  font-size: 32rpx;
  background: #fff;
  color: #101010;
}
.total .total-num {
  color: #c53032;
}
.items {
  display: flex;
  position: relative;
  padding: 20rpx 30rpx;
  line-height: 42rpx;
  background: #fff;
  /* border: 1rpx solid #E6E6E6;u */
}
.items:last-child {
  border: none !important;
}
.items::after {
  content: "";
  width: 100%;
  height: 1rpx;
  background: #f4f4f4;
  position: absolute;
  top: 0;
  left: 0;
}
.items:first-child::after {
  width: 0;
}
.items .left {
  flex: 1;
}
.items .right {
  text-align: right;
}
.items .left .text {
  font-size: 28rpx;
  font-weight: 400;
  line-height: 60rpx;
  letter-spacing: 0em;
}
.items .right .number {
  font-size: 32rpx;
  color: #3342A5;
  font-weight: 400;
  line-height: 60rpx;
  letter-spacing: 0em;
}
.items .left .date {
  font-size: 24rpx;
  color: #777777;
}
.items .right .status {
  font-size: 24rpx;
  color: #777777;
}

.loading,
.empty {
  text-align: center;
  font-size: 28rpx;
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  color: #999;
  margin-top: 50rpx;
}
