page {
  background: #fff;
  height: 100%;
  position: relative;
}
.con {
  padding: 0rpx 0 160rpx 0;
}
.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 101rpx;
  object-fit: contain;
  background: linear-gradient(180deg, #bfd6ff 0%, rgba(238, 238, 238, 0) 100%);
  height: 500rpx;
  position: relative;
}
.left-bg {
  position: absolute;
  left: -56rpx;
  top: 136rpx;
  width: 280rpx;
  height: 200rpx;
  border-radius: 160rpx 160rpx 0rpx 0rpx;
  opacity: 1;
  filter: opacity(0.40000000298023224);
  overflow: hidden;
}
.left-bg image {
  width: 100%;
  height: 100%;
}
.right-bg {
  position: absolute;
  left: 300rpx;
  top: 80rpx;
  width: 400rpx;
  height: 350rpx;
  /* transform: rotate(-30deg); */
  opacity: 1;
  /* filter: opacity(0.40000000298023224); */
  /* overflow: hidden; */
}
.right-bg image {
  width: 100%;
  height: 100%;
}
.logo-img {
  position: absolute;
  top: 254rpx;
  left: 50%;
  width: 300rpx;
  height: 300rpx;
  transform: translateX(-50%);
  border-radius: 12rpx;
}

.login-form {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10%;
  padding-top: 10rpx;
}
.authorized-btn {
  width: 100%;
  height: 88rpx;
  line-height: 88rpx;
  margin: 0 auto;
  text-align: center;
  background-color: #005aff;
  border: 1rpx solid #005aff;
  color: #fff;
  border-radius: 14rpx;
  font-size: 32rpx;
  margin-top: 80rpx;
  border-radius: 12px;
  font-weight: normal;
  letter-spacing: 0rpx;
  opacity: 1;
  background: #025bff;
  box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(140, 180, 255, 0.83);
}
.item {
  display: block;
  margin-bottom: 40rpx;
}
.account {
  display: flex;
  background: #fff;
  padding: 20rpx 16rpx;
  box-sizing: border-box;
  font-size: 26rpx;
  align-items: center;
  border: 1px solid #e1e1e1;
  border-radius: 14rpx;
  justify-content: space-between;
}

.account .input-item {
  padding-right: 14rpx;
  border-right: 1px solid #dbdddf;
}

.account input {
  padding-left: 20rpx;
  width: 75%;
}
.account .image-box {
  width: 26rpx;
  margin: 0 28rpx;
}
.account .input-suffix {
  border-left: 1px solid #dadada;
  padding-left: 10rpx;
  color: #999999;
  width: 5em;
  font-size: 28rpx;
  text-align: right;
}
.account .login-code {
  color: #f81a1a;
}
.inp-palcehoder {
  font-size: 28rpx;
}

button::after {
  border: 0 !important;
}

/* 错误提示 */
.error .error-text {
  display: block;
  width: 100%;
  font-size: 28rpx;
  color: #f81a1a;
  text-align: left;
  margin-top: 10rpx;
}
.error .error-text .warning-icon {
  display: inline-block;
  color: #fff;
  width: 26rpx;
  height: 26rpx;
  line-height: 26rpx;
  background: #f81a1a;
  border-radius: 50%;
  text-align: center;
  margin-right: 12rpx;
  font-size: 22rpx;
}

.statement-label {
  display: flex;
  align-items: flex-start;
  font-size: 28rpx;
  line-height: 48rpx;
  color: #025bff;
}
.statement-label:active {
  background-color: none;
}

/* 条款声明 */
.statement {
  margin-top: 20rpx;
  font-size: 28rpx;
  line-height: 2em;
  color: #999999;
}
.statement text {
  color: #005aff;
  cursor: pointer;
}
.statement .check-box {
  /* transform: scale(1); */
}
.statement .check-box .uni-checkbox-input {
  border: 1rpx solid #f81a1a;
}

.footer {
  position: fixed;
  top: calc(100% - 216rpx);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: #999;
  font-size: 24rpx;
}

.footer .other-login-text {
  display: flex;
  justify-content: center;
  margin-bottom: 40rpx;
}

.footer .other-login-text::before {
  content: "——————";
  color: #e1e1e1;
  margin-right: 16rpx;
}

.footer .other-login-text::after {
  content: "——————";
  color: #e1e1e1;
  margin-left: 16rpx;
}

.footer .other-login {
  display: flex;
  justify-content: center;
}

.footer .other-login image {
  width: 80rpx;
  height: 80rpx;
  margin-bottom: 10rpx;
}

.footer .other-login-one {
  margin-right: 116rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .other-login-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-login {
  color: #666666;
  font-size: 28rpx;
  margin-top: 30rpx;
}

.error-box {
  display: flex;
  align-items: center;
}
.con-container {
  /* padding: 50rpx 46rpx 70rpx; */
  padding: 50rpx 0rpx 70rpx;
}
.con-container .title {
  font-weight: 400;
  font-size: 28rpx;
  color: #101010;
  line-height: 48rpx;
  text-align: left;
  font-style: normal;
  text-transform: none;
  text-align: center;
}
.con-container .desc {
  margin-top: 34rpx;
  padding: 0rpx 46rpx 0rpx;
}
.con-container .desc .desc-big {
  font-weight: 400;
  font-size: 28rpx;
  color: #101010;
  line-height: 48rpx;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.con-container .desc .desc-small {
  font-weight: 400;
  font-size: 24rpx;
  color: #979797;
  line-height: 48rpx;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.con-container .button {
  margin: 66rpx auto 0;
  width: 364rpx;
  height: 78rpx;
  background: #025bff;
  border-radius: 12rpx 12rpx 12rpx 12rpx;
  font-weight: 400;
  font-size: 28rpx;
  color: #ffffff;
  line-height: 78rpx;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.con-container .button.un{
  background: #F6F6F6;
  color: #979797;
}

.con-container .line {
  width: 100%;
  height: 1rpx;
  background: #e6e6e6;
  margin: 22rpx 0 0rpx;
}
.con-container .avatar,
.con-container .name {
	height: 84rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(270deg, #FFFFFF 0%, #B4CEFF 100%);
  padding: 14rpx 46rpx;
}
.con-container .avatar .avatar-title,
.con-container .name .name-title {
	width: 80rpx;
  font-weight: 400;
  font-size: 28rpx;
  color: #101010;
  line-height: 48rpx;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-right: 58rpx;
}
.con-container .avatar .avatar-img {
width: 100%;
		height: 100%;
  background: #f4f4f4;
  border-radius: 8rpx 8rpx 8rpx 8rpx;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.con-container .avatar .avatar-img image {
 width: 78rpx;
 height: 78rpx;
}

.con-container .name .name-input {
  font-weight: 400;
  font-size: 28rpx;
  color: #979797;
  line-height: 48rpx;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
