.container {
  background: #fff;
  width: 100%;
  min-height: 100vh;
}
.search-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 78rpx;
  margin: 26rpx 22rpx;
  border-radius: 40rpx;
  box-shadow: 0rpx 8rpx 24rpx 0rpx rgba(141, 141, 141, 0.3);
}
.search-con .img {
  width: 24rpx;
  height: 24rpx;
  margin-left: 40rpx;
}
.search-con .input {
  font-size: 24rpx;
  font-weight: normal;
  line-height: 48rpx;
  color: #9e9e9e;
  margin-left: 20rpx;
  padding-left: 20rpx;
  border-left: 1rpx solid rgba(216, 216, 216, 0.3);
  width: calc(100% - 300rpx);
  /* background: #000; */
}
.search-con .search-button {
  margin-left: 20rpx;
  width: 202rpx;
  height: 78rpx;
  text-align: center;
  border-radius: 0rpx 40rpx 40rpx 0rpx;
  background: #025bff;
  font-size: 32rpx;
  font-weight: normal;
  line-height: 78rpx;
  color: #ffffff;
}
.list-con {
  margin: 0rpx 40rpx;
  padding: 20rpx 0rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.list-con .img-avatar {
  width: 108rpx;
  height: 108rpx;
  border-radius: 50%;
}
.list-con .right-con {
  margin-left: 30rpx;
  width: calc(100% - 108rpx);
  border-bottom: 1rpx solid rgba(225, 224, 224, 0.5);
}
.right-con .name {
  font-size: 34rpx;
  font-weight: normal;
  line-height: 48rpx;
  letter-spacing: 0px;
  color: #101010;
}
.right-con .phone {
    margin-top: 6rpx;
  font-size: 24rpx;
  font-weight: normal;
  line-height: 48rpx;
  color: #979797;
  padding-bottom: 20rpx;
}
