page {
  background: #f6f6f6;
  height: auto;
}

.live-item {
  margin: 0 30rpx;
  height: 100rpx;
  line-height: 100rpx;
  margin-top: 10rpx;
  padding: 0 20rpx;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}


